$font-mono: 'PT Mono', monospace;
$royal-light-blue: #016fb9; 
$royal-dark-blue: #27408b;
$yellow: #ffff00;
$orange: #ff9505;

$heading-color: $yellow;

$button-text: $royal-dark-blue;
$button-bg: $yellow;
$button-bg-hover: $orange;

$space-base: 10px;